/* ----------------------------------------------------------------------------------------------------------*/

/* TreeViewPlugin */

/* ----------------------------------------------------------------------------------------------------------*/

#treeViewContainer {
    pointer-events: all;
    height: 90%;
    max-width: 300px;
    overflow-y: scroll;
    overflow-x: scroll;
    background-color: rgba(255, 255, 255, 0.86);
    color: black;
    top: 0;
    z-index: 200000;
    left: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    flex-shrink: 1;
}

#treeViewContainer ul {
    list-style: none;
    padding-left: 1.75em;
}

#treeViewContainer ul li {
    position: relative;
    width: 500px;
}

#treeViewContainer ul li a {
    background-color: #eee;
    border-radius: 50%;
    color: #000;
    display: inline-block;
    height: 1.5em;
    left: -1.5em;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 1.5em;
}

#treeViewContainer ul li a.plus {
    background-color: #ded;
}

#treeViewContainer ul li a.minus {
    background-color: #eee;
}

#treeViewContainer ul li a:active {
    top: 1px;
}

#treeViewContainer ul li span:hover {
    color: white;
    cursor: pointer;
    background: black;
    padding-left: 2px;
}

#treeViewContainer ul li span {
    display: inline-block;
    width: calc(100% - 50px);
    padding-left: 2px;
}

#treeViewContainer .highlighted-node {
    /* Appearance of node highlighted with TreeViewPlugin#showNode() */
    border: black solid 1px;
    background: yellow;
    color: black;
    padding-left: 1px;
    padding-right: 5px;
}

#treeViewContainer h2 {
    margin: 0.5em 1em 0;
    color: #03103f;

}
/* ----------------------------------------------------------------------------------------------------------*/

/* ContextMenu */

/* ----------------------------------------------------------------------------------------------------------*/

.xeokit-context-menu {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    display: none;
    z-index: 300000;
    background: rgba(255, 255, 255, 0.46);
    border: 1px solid black;
    border-radius: 6px;
    padding: 0;
    width: 200px;
}

.xeokit-context-menu ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
}

.xeokit-context-menu ul li {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: black;
    border-bottom: 1px solid gray;
    background: rgba(255, 255, 255, 0.46);
    cursor: pointer;
    width: calc(100% - 30px);
}

.xeokit-context-menu ul li:hover {
    background: black;
    color: white;
    font-weight: bold;
}

.xeokit-context-menu ul li span {
    display: inline-block;
}

.xeokit-context-menu .disabled {
    display: inline-block;
    color: gray;
    cursor: default;
    font-weight: normal;
}

.xeokit-context-menu .disabled:hover {
    color: gray;
    cursor: default;
    background: #eeeeee;
    font-weight: normal;
}