@import './reset.css';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap';

@custom-media --lt-xxs (width <= 240px);
@custom-media --lt-xs (width <= 260px);
@custom-media --lt-sm (width <= 480px);
@custom-media --lt-md (width <= 768px);
@custom-media --lt-lg (width <= 1024px);
@custom-media --lt-xl (width <= 1440px);
@custom-media --lt-xxl (width <= 1920px);

/* Color styles */
$bg: 226, 48.1%, 10.6%;
$bg-alt: 227, 38.3%, 23.5%;
$text: 226, 100%, 93.9%;
$text-alt: 230, 39%, 67.8%;
$muted: 226, 22.1%, 73.3%;
$accent1: 40, 98.3%, 47.5%;
$accent2: 33, 95.9%, 48.2%;
$accent3: 13, 67.8%, 53.7%;
$gradient: linear-gradient(315deg, hsl($accent1) 0%, hsl($accent3) 100%);

/* UTILS */
@each $k $i in (4, 3, 2, 1) {
    .h$k {
        font-size: var(--font-size-fluid-$i);
        font-weight: 600;
        line-height: 1.1;
    }
}

@each $k $i in (sm, md, lg) {
    .grid-$k {
        display: grid;
        place-items: center;
        gap: var(--size-fluid-3);

        @if $k == sm {
            gap: var(--size-fluid-1);
        }
        @elif $k == lg {
            place-content: center;
        }
    }
}

html,
* {
    overflow: hidden;
}

html {
    max-height: 100vh;
    max-width: 100vw;
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    max-width: 2000px;
    margin: auto;
    background: hsl($bg);
    color: hsl($text);
    height: 100vh;
    overflow: hidden;
}

/* COMPONENTS */
.btn {
    color: white;
    padding: var(--size-1) var(--size-fluid-2);
    border-radius: var(--radius-2);
    cursor: pointer;
    display: grid;
    place-items: center;
    text-align: center;

    &--primary {
        background: hsl($accent1);
    }

    &--secondary {
        background: $gradient;
        font-weight: 600;
    }

    &--muted {
        background: hsl($muted);
        color: hsl($bg-alt);
        padding-inline: var(--size-2);
    }

    &--transparent {
        background: transparent;
        border: none;
        display: grid;
        place-items: center;
        padding-inline: var(--size-2);
    }

    &--disabled {
        background: transparent;
        border: none;
        display: grid;
        place-items: center;
        padding-inline: var(--size-2);
        color: grey;
        cursor: default;
    }

    &--menu {
        background: transparent;
        border: none;
        color: white;
        display: none;

        @media (--lt-md) {
            display: grid;
            place-items: center;

            &[aria-expanded='true'] + .status-container {
                transform: translateY(-10%);
                animation: var(--animation-slide-in-down) forwards;
            }
        }
    }
}

/* MAIN */
main {
    display: grid;
    grid-template-rows: 1fr 11fr;
    align-items: center;
    align-self: stretch;

    @media (--lt-md) {
        grid-template-rows: 3fr 9fr;

        @media (height <= 1000px) {
            grid-template-rows: 1.5fr 10.5fr;
        }

        @media (height <= 700px) {
            grid-template-rows: 2fr 10fr;
        }

        @media (height <= 600px) {
            grid-template-rows: 2.5fr 9.5fr;
        }

        @media (height <= 550px) {
            grid-template-rows: 3fr 9fr;
        }
    }
}

/* CONTROL */
.control {
    &-wrapper {
        width: 100%;
        padding: var(--size-2) var(--size-fluid-2);
        display: grid;
        place-items: center;

        @media (--lt-md) {
            margin: var(--size-1) 0;
        }
    }

    &-container {
        width: 100%;
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (--lt-md) {
            gap: 10px;
        }

        .projects {
            display: grid;
            grid-template-columns: 2fr 8fr;

            @media (--lt-md) {
                grid-column: span 2;
                grid-template-columns: 3fr 7fr;
            }

            span {
                display: grid;
                place-items: center;
                width: 100%;
                background: hsl($accent1);
                padding: 0 var(--size-fluid-1);
                border-radius: var(--radius-1) 0 0 var(--radius-1);
                color: white;
                font-size: var(--font-size-1);

                @media (--lt-md) {
                    padding: var(--size-1) var(--size-2);
                    border-radius: var(--radius-2) 0 0 var(--radius-2);
                }
            }

            select {
                display: grid;
                place-items: center;

                width: 100%;
                background: hsl($text-alt);
                border: none;
                padding: 0 var(--size-fluid-1);
                border-radius: 0 var(--radius-1) var(--radius-1) 0;
                font-size: var(--font-size-1);

                @media (--lt-md) {
                    padding: var(--size-1) var(--size-2);
                    border-radius: 0 var(--radius-2) var(--radius-2) 0;
                }
            }
        }

        .phases {
            justify-self: end;
            display: grid;
            text-align: center;
            grid-template-columns: repeat(3, 1fr);

            @media (--lt-md) {
                gap: none;
                grid-column: span 2;
                justify-self: stretch;
            }
        }
    }
}

/* BIM BOX */
.bimbox {
    &-wrapper {
        width: 100%;
        height: 100%;
        display: flex;

        .left-panel {
            &-container {
                overflow: auto;
                width: calc((100vw - 1200px) / 2);
                height: 100%;
                min-width: var(--size-fluid-8);
                padding: var(--size-fluid-1);
                background: hsl($bg-alt);
                pointer-events: all;
                user-select: none;
                color: hsl($text);

                @media (--lt-md) {
                    display: none;
                }

                p {
                    margin-bottom: var(--size-fluid-1);
                    color: hsl($text-alt);
                }
            }

            ul {
                ul {
                    padding: var(--size-2) 0;
                    margin-left: var(--size-3);

                    ul {
                        padding: var(--size-2) 0;
                        padding-left: var(--size-5);
                    }
                }
            }

            a {
                padding: 0 var(--size-1);
                .plus {
                    background: #ded;
                }
                .minus {
                    background: #eee;
                }
                &:active {
                    top: 1px;
                }
            }

            span {
                width: calc(100% - 50px);
                padding-left: 2px;

                &:hover {
                    color: white;
                    cursor: pointer;
                    background: hsl($bg);
                    padding-left: 2px;
                }
            }

            .highlighted-node {
                border: black solid 1px;
                background: yellow;
                color: black;
                padding-left: 1px;
                padding-right: 5px;
            }
        }

        .right-panel {
            &-container {
                width: calc((100vw - 1200px) / 2);
                min-width: var(--size-fluid-8);
                background: hsl($bg-alt);
                padding: var(--size-fluid-1);
                color: hsl($text);
                overflow: auto;

                @media (--lt-md) {
                    display: none;
                }

                p {
                    margin-bottom: var(--size-fluid-1);
                    text-align: right;
                    color: hsl($text-alt);
                }
            }

            ul {
                width: auto;
            }

            li {
                display: grid;
                grid-template-columns: 0.6fr 1fr;
                word-break: break-word;
                padding: var(--size-1) 0;

                span:first-of-type {
                    font-weight: var(--font-weight-6);
                }

                span:first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }

    &-container {
        width: 100%;
        max-width: 1200px;
        height: 100%;

        @media (--lt-md) {
            display: flex;
        }

        .viewport {
            background: white;
            height: 100%;
            width: 100%;

            @media (--lt-md) {
                max-width: 100vw;
                height: 100%;
            }
        }

        .nav-cube {
            position: absolute;
            right: 15%;

            @media (--lt-md) {
                right: -50px;
            }
        }
    }
}

/* CONTEXT MENU */

.xeokit-context-menu {
    font-size: 15px;
    display: none;
    z-index: 300000;
    background: rgba(255, 255, 255, 0.46);
    border: 1px solid black;
    border-radius: 6px;
    padding: 0;
    width: 200px;

    ul {
        list-style: none;
        margin-left: 0;
        padding: 0;
    }

    li {
        list-style-type: none;
        padding-left: 10px;
        padding-right: 20px;
        padding-top: 4px;
        padding-bottom: 4px;
        color: black;
        border-bottom: 1px solid gray;
        background: rgba(255, 255, 255, 0.46);
        cursor: pointer;
        width: calc(100% - 30px);

        &:hover {
            background: black;
            color: white;
            font-weight: bold;
        }

        span {
            display: inline-block;
        }
    }

    .disabled {
        display: inline-block;
        color: gray;
        cursor: default;
        font-weight: normal;

        &:hover {
            color: gray;
            cursor: default;
            background: #eeeeee;
            font-weight: normal;
        }
    }
}

/* LAYOUT */
.wrapper {
    display: grid;
    grid-template-rows: 1.5fr 9.5fr 1fr;
    height: 100vh;

    @media (--lt-lg) {
        grid-template-rows: 1.5fr 10fr 1.5fr;
    }

    @media (--lt-md) {
        grid-template-rows: 1fr 8fr 1fr;
    }

    @media (height <= 800px) {
        grid-template-rows: 0fr 8fr 1fr;
    }
}

/* NAV */
nav {
    display: grid;
    place-items: center;
}

.nav {
    &-wrapper {
        width: 100%;
        display: grid;
        place-items: center;
        padding: var(--size-fluid-1);

        @media (height <= 870px) {
            padding: var(--size-1) var(--size-fluid-1) 0 var(--size-1);
        }

        @media (height <= 800px) {
            display: none;
        }
    }

    &-container {
        display: grid;
        grid-template-columns: 1fr auto;
        margin: auto;
        width: 95%;
        max-width: 1200px;

        @media (--lt-md) {
            justify-content: center;
            gap: var(--size-fluid-3);
        }

        .logo {
            width: calc(var(--size-fluid-8) * 0.4);

            @media (--lt-md) {
                width: var(--size-8);
            }

            &-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 10px;
                justify-self: start;

                .text {
                    display: flex;
                    align-items: baseline;
                    gap: 5px;

                    h1 {
                        margin: 0;
                        font-size: calc(var(--font-size-8) * 1.1);
                        font-weight: var(--font-weight-7);
                        font-style: italic;
                        background: $gradient;
                        background-clip: text;
                        color: transparent;
                        padding-right: var(--size-2);

                        @media (--lt-md) {
                            font-size: var(--font-size-6);
                        }
                    }

                    .badge {
                        display: block;
                        font-size: var(--font-size-00);
                        font-weight: 500;
                        font-style: italic;
                        background: hsl($accent2);
                        color: white;
                        padding: 2px 8px;
                        border-radius: 15px;

                        @media (--lt-md) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &-end-container {
        display: grid;
        place-items: center;
        justify-self: end;

        .status-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding-right: 15px;
            gap: 0px;
            border-right: 3px solid hsl($text-alt);

            @media (--lt-md) {
                position: absolute;
                right: 0;
                left: 0;
                top: var(--size-fluid-6);
                border-right: none;
                border-bottom: 2px solid hsl($text-alt);
                background: hsl($bg);
                padding: var(--size-fluid-2);
                display: flex;
                align-items: center;
                transform: translateY(-200%);
            }
        }
    }
}

.footer {
    &-wrapper {
        max-width: 100%;
        height: 100%;
        padding: var(--size-fluid-2);
        display: grid;
        place-items: center;
    }

    &-container {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        h2 {
            font-size: var(--font-size-0);
            font-weight: var(--font-weight-4);
            padding-right: var(--size-1);
            font-style: italic;
            display: inline;

            @media (--lt-md) {
                display: none;
            }
        }
    }
}
