/* ----------------------------------------------------------------------------------------------------------*/

/* Below page redesign by zhuopeng */

/* ----------------------------------------------------------------------------------------------------------*/

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-self: auto;
}

/* ----------------------------------------------------------------------------------------------------------*/

/* header */

/* ----------------------------------------------------------------------------------------------------------*/

div.headcontainer {
    display: flex;
    width: 100%;
    background-color: #03103f;
    color: white;
    height: 120px;
    flex-wrap: wrap;
    order: 1;
}

div.header {
    margin: 0;
    padding: 0;
}

div.header.title {
    margin-bottom: 2em;
}

div.header.title h1 {
    margin: 0;
    padding: 0.5em 0 0.8em 1em;
    font-style: italic;
    display: inline;
}

div.header.title i {
    border: white 1px solid;
    border-radius: 15px;
    background-color: white;
    padding: 0 1em 0;
    margin: 0 1em 0;
    font-size: xx-small;
    color: black;
}

div.header p {
    margin: 0;
    padding: 0 2em 0;
}

div.nav {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

div.nav.project {
    min-width: 415px;
    max-width: 415px;
    min-height: 2em;
}

div.nav.project select {
    border-radius: 15px;
}

div.nav.phase {
    display: inline;
}

div.nav.phase button {
    width: 100px;
    color: #03103f;
    background-color: white;
    border: solid 1px;
    border-radius: 25px;
    margin-right: 0.5em;
}

div.geo {
    text-align: right;
    flex-grow: 1;
    min-width: 18em;
    margin: 0.5em;
    flex-wrap: wrap;
    padding: 0 1em 0;
    border-right: white 4px solid;
}

div.geo>p {
    white-space: nowrap;
    overflow: auto;
    text-overflow: clip;
    padding: 0;
    margin: 0.5em 0 0;
}

div.news {
    width: 100%;
    height: 1.5em;
    border: #03103f solid 0.5em;
    color: #03103f;
    z-index: 200000;
    background-color: white;
}

div.news p {
    margin: 0;
    padding: 0 1em 0;
    height: 1em;
    color: #03103f;
}

/* ----------------------------------------------------------------------------------------------------------*/

/* body */

/* ----------------------------------------------------------------------------------------------------------*/

div.midcontainer {
    display: flex;
    flex: 1 0 79%;
    max-height: 79%;
    order: 2;
}

div.layer {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 500px;
    border-left: #03103f solid 0.5em;
    border-right: #03103f solid 0.5em;
}

div.layer h2 {
    padding: 1.5em 1em 0;
    margin: 0;
    color: #03103f;
    display: inline;
    white-space: nowrap;
    background-color: white;
}

#myNavCubeCanvas {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 125px;
    right: 20%;
    z-index: 200000;
}

div.info {
    width: 17.5%;
    height: 100%;
    background-color: white;
    color: #03103f;
    display: flex;
    flex-direction: column;
    border-left: #03103f solid 0.5em;
    border-right: #03103f solid 0.5em;
    max-width: 17.5%;
    min-width: 17.5%;
}

div.info h2 {
    margin: 0;
    padding: 1.5em 1em 0;
    color: #03103f;
}

.info ul {
    margin: 0 0 0 2em;
    padding: 0;
}

.info li {
    margin: 1em 0.25em 0;
    padding-left: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-left: #03103f 0.25em solid;
    color: #03103f;
    list-style-type: none;
}

.info li i {
    color: #03103f63;
    font-size: 14pt;
}

.info hr {
    color: #03103f;
    margin: 1em 1em 0 0;
    border: 1px dashed;
}

/* ----------------------------------------------------------------------------------------------------------*/

/*footer*/

/* ----------------------------------------------------------------------------------------------------------*/

div.buttomcontainer {
    display: flex;
    flex: 1 0 50px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #03103f;
    height: 50px;
    min-height: 50px;
    order: 3;
    margin-top: auto;
}

div.buttomcontainer i {
    font-size: 10pt;
    text-align: center;
    margin-right: 1em;
}

div.buttomcontainer img {
    margin: 10px 1em 10px;
}