---
---

<div class="bimbox-wrapper">
    
    <div class="left-panel-container">
        <p class="h3">Layers</p>
        <div class="left-panel" id="left-panel"></div>
    </div>
    
    <div class="bimbox-container">
        <canvas class="viewport" id="viewport"></canvas>
        <canvas class="nav-cube" id="navCube"></canvas>
    </div>
    
    <div class="right-panel-container">
        <p class="h3">Information</p>
        <div class="right-panel" id="right-panel"></div>
    </div>
    
</div>

<script src="../js/loader.js"></script>
<script src="../js/viewer_components/info.js"></script>